@using Blogr.Server.Models;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
        <a href="/profile"><img src="@imgString" alt="User Photo" id="User-Photo"/></a>
        @*The below line allows the user to sign out*@
        @*<button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>*@
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    string imgString;
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
    protected override async Task OnInitializedAsync()
    {
            var image = await Http.GetFromJsonAsync<UserImage>("api/userImage");

            imgString = @image.path;
    }

}
