@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile"><img src="@context.User.FindFirst("u_Photo")?.Value" alt="avatar"/></a>
        @*The below line allows the user to sign out*@
        @*<button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>*@
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}
