@using Blogr.Server.Models;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
        <a href="/profile"><img src="@imgString" alt="User Photo" id="User-Photo" /></a>
    </Authorized>
    <NotAuthorized>
        <a class="text-white" href="authentication/register">Register</a>
        <a class="text-white" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    string? imgString;
    readonly string defaultUserImage = "";
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            UserImage image = await Http.GetFromJsonAsync<UserImage>("api/userImage") ?? new UserImage();

            image.path = image.path ?? defaultUserImage;

            imgString = @image.path;
        }
        catch
        {
            
        }

    }


}
