@inherits LayoutComponentBase
@inject NavigationManager NavMan

<div class="page">

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <AuthorizeView>
                <Authorized>
                    <a @onclick="CreateBlog" target="_blank">Create</a>
                    <a @onclick="Notifications" target="_blank">Notification</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
                @Body
        </article>
    </main>
</div>

@code{
    private void CreateBlog()
    {
        NavMan.NavigateTo("/createBlog");
    }
    private void Notifications()
    {
        NavMan.NavigateTo("/notifications");
    }
}