@using Blogr.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<div class="page">

    <main>
        <div class="top-row px-4">
            <div style ="width: 200px;">
                <a class="d-inline-flex text-start m-0 text-white" @onclick="GoHome" target="_blank">Home</a>
            </div>
            <div class="flex-grow-1 text-center mx-5 align-items-center">
                <div id="search-container" class="rounded-pill d-flex flex-s w-50 m-auto">
                    <InputText class="w-100 rounded-pill py-1 px-2 border-0" @bind-Value="SearchInput"></InputText>
                    <button id="search-button" class="position-relative rounded-pill" @onclick="Search" type="submit">Search</button>
                </div>
            </div>
            <div style="width: 200px;">
                <LoginDisplay/>
                <AuthorizeView>
                    <Authorized>
                        <a class="text-white" @onclick="CreateBlog" target="_blank">Create</a>
                        <a class="text-white" @onclick="Notifications" target="_blank">Notification</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? SearchInput { get; set; }

    private void CreateBlog()
    {
        NavMan.NavigateTo("/createBlog");
    }
    private void Notifications()
    {
        NavMan.NavigateTo("/notifications");
    }
    private void GoHome()
    {
        NavMan.NavigateTo("/");
    }

    public void Search()
    {
        if (string.IsNullOrWhiteSpace(SearchInput))
        {
            Console.WriteLine("No search value entered");
        }
        else
        {
            NavMan.NavigateTo("/");
            NavMan.NavigateTo("/search/" + SearchInput);
        }
    }
}