@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <AuthorizeView>
                <Authorized>
                    <a href="/createBlog" target="_blank">Create</a>
                    <a href="/createBlog" target="_blank">Notification</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@blogId">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code{
    int blogId;
}