@page "/CreateBlog"

<h3>CreateBlog</h3>

<div>
    <h4>Upload .docx file</h4>
    <form method="post">
        <div>
            <label class="form-label">Upload File</label>
            <input type="file" name="file"/>
        </div>
    </form>
</div>


@code {

}
