@page "/deleteblog"
@page "/deleteblog/{blogId:int}"
@using Newtonsoft.Json;
@using System.Text;
@inject HttpClient Http;

<h3>DeleteBlog</h3>

@if (BlogId != null)
{
    @if (StatusMessage != null)
    {
        <p>@StatusMessage</p>
    }
}
else
{
    <p>There is no blog to edit. Please go to your profile and view your blogs to edit.</p>
}

@code {
    [Parameter]
    public int? BlogId { get; set; }
    private string? BlogTitle { get; set; }

    string? StatusMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await DeleteBlogFromDb(BlogId);

    }
    private async Task DeleteBlogFromDb(int? blogId)
    {
        var stringPayload = JsonConvert.SerializeObject(blogId);
        var content = new StringContent(stringPayload, Encoding.UTF8, "application/json");
        var response = await Http.PostAsync("api/DeleteBlog", content);
        StatusMessage = response.IsSuccessStatusCode ? "Successfully Deleted Blog Post" : "Failed to Delete Blog Post";
        StateHasChanged();
    }
}