@page "/"
@page "/index"
@page "/home"
@inject IHttpClientFactory ClientFactory;
@inject NavigationManager NavMan;
@using Blogr.Shared;

<PageTitle>Blogr</PageTitle>

@foreach (string catString in _categoryStruct.Categories)
{
    <button id="category-button" @onclick=" () => GetCategory(catString)">@catString</button>
}

<br />

@foreach (BlogDisplay blog in _blogsList)
{
    <BlogPostPreview Blog="blog"/>
}

@code {
    List<BlogDisplay> _blogsList = new List<BlogDisplay>();
    readonly Category _categoryStruct = new();

    private async Task GetCategory(string category)
    {
        //Create a public HttpClient because a user might not be logged in
        HttpClient Http = ClientFactory.CreateClient("public");
        List<BlogDisplay>? blogs = await Http.GetFromJsonAsync<List<BlogDisplay>>("/api/GetBlogByCategory/" + category);
        if (blogs != null)
        {
            _blogsList = blogs;
            StateHasChanged();
        }
    }


}

